[Unit]
Description=Primary controller for the OpenHD processes

[Service]
Type=simple
EnvironmentFile=/etc/default/openhd
ExecStart=/usr/bin/openhd_controller /etc/default/openhd
TimeoutStopSec=5s
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
